
redis
pymongo
google-genai
tenacity
fastapi
uvicorn
celery
python-dotenv
dnspython
streamlit
requests
slowapi
pybreaker
python-json-logger
gunicorn
paddlepaddle
paddleocr
Pillow
# Scraping retired (Switched to Native Grounding)
# playwright
wolframalpha
sympy
ultralytics
streamlit-drawable-canvas
pydantic-settings
# beautifulsoup4
# fake-useragent
ollama
firebase-admin
supabase
numpy
pandas
gradio
transformers
torch
passlib[bcrypt]
bcrypt
PyJWT

selenium
webdriver-manager
# google-cloud-discoveryengine
google-adk @ git+https://github.com/google/adk-python.git@main