
redis
pymongo
google-genai
tenacity
fastapi
uvicorn
celery
python-dotenv
dnspython
streamlit
requests
slowapi
pybreaker
python-json-logger
gunicorn
paddlepaddle
paddleocr
Pillow
playwright
wolframalpha
sympy
ultralytics
streamlit-drawable-canvas
pydantic-settings
beautifulsoup4
fake-useragent
ollama
firebase-admin
supabase
numpy
pandas
gradio
transformers
torch

selenium
webdriver-manager
google-adk @ git+https://github.com/google/adk-python.git@main